<div class="contenedor">
  <h1>Calcular Distancia entre Dos Puntos</h1>

  <form [formGroup]="formulario">
    <div>
      <label>Coordenada x1: </label>
      <input type="number" formControlName="x1">
    </div>
    <br>
    <div>
      <label>Coordenada y1: </label>
      <input type="number" formControlName="y1">
    </div>
    <br>
    <div>
      <label>Coordenada x2: </label>
      <input type="number" formControlName="x2">
    </div>
    <br>
    <div>
      <label>Coordenada y2: </label>
      <input type="number" formControlName="y2">
    </div>
    <br>
    
    <button class="btn btn-primary" (click)="calcularDistancia()" type="button">
      CALCULAR
    </button>
  </form>

  <h1>La distancia es: {{ resultado }}</h1>
</div>

<!-- <div>
    <h1>Multiplica 2 números</h1>
<form [formGroup]="formulario">
  <div>
    <label for="">Primer número:</label>
    <input formControlName="numero1" type="number">
  </div>
  <br>
  <div>
    <label for="">Segundo número:</label>
    <input formControlName="numero2" type="number">
  </div>
  <br>
  <button (click)="multNumeros()" type="submit">Multiplicar</button>
</form>
<h1>Resultado: {{resultado}}</h1>
</div>
 -->